{% extends 'base.html' %}
{% block content %}
{% if posts %}
{% for post in posts %}
<div class="post">
	<h2><a href="{% url post_detail blog_name=post.author post_key_name=post.key.name %}">{{ post.title }}</a></h2>
    <h3>Posted by <strong>{{ post.author }}</strong> on {{ post.date }}</h3>
    {{ post.content|truncatewords_html:50|truncatechars:500|linebreaks|urlize }}
</div>
{% endfor %}
{% else %}
<p>No posts</p>
{% endif %}
{% if user_nickname %}
<p><a href="{% url new-post %}">Add new post</a></p>
{% else %}
<p><a href="{{ login_url }}">Log in</a> to add a new post.</p>
{% endif %}
{% endblock %}
